{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "ignore":[
       "./src/components/**/*.stories.js",
       "./src/stories/",
       "./src/**/*.stories.mdx"
    ]
}