@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");
body .ReactTable {
  border: 1px solid #ccc; }
  body .ReactTable.no-border {
    border: none; }
  body .ReactTable .bullet {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block; }
    body .ReactTable .bullet.normalized {
      background-color: green; }
  body .ReactTable .rt-noData {
    top: 80px; }
  body .ReactTable .rt-th,
  body .ReactTable .rt-td {
    padding: 10px; }
    body .ReactTable .rt-th.small,
    body .ReactTable .rt-td.small {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center; }
      body .ReactTable .rt-th.small .not-located,
      body .ReactTable .rt-td.small .not-located {
        margin: -5px 0; }
    body .ReactTable .rt-th.align-left,
    body .ReactTable .rt-td.align-left {
      justify-content: flex-start !important; }
    body .ReactTable .rt-th.select,
    body .ReactTable .rt-td.select {
      overflow: visible !important; }
    body .ReactTable .rt-th.action-zone,
    body .ReactTable .rt-td.action-zone {
      padding: 0;
      align-items: center;
      display: flex;
      justify-content: center; }
  body .ReactTable .rt-thead .rt-th,
  body .ReactTable .rt-thead .rt-td {
    border-right: 1px solid #ccc;
    outline: none;
    box-shadow: none; }
  body .ReactTable .rt-thead .rt-th {
    height: 40px;
    padding-top: 9px;
    box-sizing: border-box; }
  body .ReactTable .rt-thead.-filters .rt-th {
    height: 50px; }
    body .ReactTable .rt-thead.-filters .rt-th input {
      box-shadow: none;
      outline: none; }
  body .ReactTable .-pagination .-previous .-btn,
  body .ReactTable .-pagination .-next .-btn {
    display: inline-block;
    font-size: 0;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    color: white;
    background: #3f51b5; }
    body .ReactTable .-pagination .-previous .-btn:hover,
    body .ReactTable .-pagination .-next .-btn:hover {
      background: #32408f; }
    body .ReactTable .-pagination .-previous .-btn:before,
    body .ReactTable .-pagination .-next .-btn:before {
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      font-size: 14px;
      display: block;
      content: "\f048"; }
  body .ReactTable .-pagination .-next .-btn {
    float: left; }
    body .ReactTable .-pagination .-next .-btn:before {
      content: "\f051"; }
  body .ReactTable .rt-thead.-header .rt-th {
    font-size: 12px;
    padding-top: 12px; }
  body .ReactTable .rt-tbody .rt-th,
  body .ReactTable .rt-tbody .rt-td {
    text-align: center; }
  body .ReactTable .rt-tfoot {
    text-align: center;
    font-weight: bold; }

.marker-cluster,
.marker-custom {
  background-clip: padding-box;
  border-radius: 100%; }
  .marker-cluster.with-icon img,
  .marker-custom.with-icon img {
    width: 20px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: -10px; }
  .marker-cluster.with-icon > div,
  .marker-custom.with-icon > div {
    width: 35px !important;
    height: 35px !important;
    text-align: center;
    font-size: 9px; }
  .marker-cluster.with-icon.small img,
  .marker-custom.with-icon.small img {
    margin-bottom: -5px; }
  .marker-cluster.with-icon.small > div,
  .marker-custom.with-icon.small > div {
    font-size: 10px; }
  .marker-cluster.with-icon.big-icon img,
  .marker-custom.with-icon.big-icon img {
    width: 25px; }

.marker-cluster div,
.marker-custom div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 100%;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-cluster span {
  line-height: 30px; }
